@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}




.container-show {
    max-width: 800px;
    margin: 0 auto;
}

.card {
    border-radius: 10px;
    background-color: #ffffff;
}

.card-title {
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.list-group-item {
    font-size: 16px;
    border: none;
    padding: 15px 20px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
}

.review-text {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

.btn-primary {
    background-color: #4CAF50;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #45a049;
}

.card-basic {
    background-color: #f8f9fa;
    border-color: #222;
}

.card-premium {
    background-color: #6c757d;
    color: #fff;
}

.card-gold {
    background-color: #ffd700;
    color: #000;
}

/* Titolo della Sezione */
.section-title {
    background-color: #f7c600; 
    color: #333;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
    max-width: 15rem;
    text-align: center;
}

/* Sezione Recensioni */
.review-list {
    background-color: #d4edda; 
    border-radius: 5px;
    padding: 15px;
}

.review-item {
    background-color: #ffffff; 
    border: 1px solid #c3e6cb; 
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Sezione Messaggi */
.message-list {
    background-color: #d1ecf1; 
    border-radius: 5px;
    padding: 15px;
}

.message-item {
    background-color: #ffffff; 
    border: 1px solid #bee5eb; 
    border-radius: 5px;
    margin-bottom: 10px;
}


/* Pulsante per visualizzare tutte le recensioni */
.btn-view-reviews {
    display: flex;
    color: #fff;
    font-size: 15px;
    width: 17rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #28a745; /* Verde tipo ambiente medico */
    border: none;
    transition: background-color 0.3s ease;
}

.btn-view-reviews:hover {
    background-color: #218838; /* Verde scuro al passaggio del mouse */
}

.wrapper{
    
    border-radius: 1rem;
    margin-top: 0;
    height: 100%;
    width: 100wv;
}

.bg-secondary {
    background-color: #b0b0b0 !important; 
}
.bg-warning {
    background-color: #ffd700 !important; 
}
.bg-info {
    background-color: #17a2b8 !important; 
}


.bg-marble {
    background: linear-gradient(45deg, #f9f9f9, #e0e0e0);
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ddd;
}

.text-red {
    color: #d32f2f; 
    font-weight: bold;
}

.list-group-item {
    font-size: 16px;
    border: none;
    padding: 15px 20px;
    background-color: #ffffff; 
    margin-bottom: 5px;
}

/* Pulsante Sponsorizza Profilo */
.btn-sponsor {
    background-color: #c8102e; 
    color: #f9f9f9; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block; 
}

.btn-sponsor:hover {
    background-color: #a30824; 
    color: yellowgreen;
}

.backg{
    background-image: url('https://img.freepik.com/vettori-gratuito/background-medico-dell-acquerello_52683-162142.jpg?t=st=1726149487~exp=1726153087~hmac=2609916cd8a4505f250af388d08ad0685cdf6c4d5f6ef8497ff0c6e08b581c26&w=1060'); /* URL dell'immagine */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
}

/* From Uiverse.io by satyamchaudharydev */ 
/* inspired from this svgbackgrounds.com/ */
.button {
    width: fit-content;
    display: flex;
    padding: 0.8em 1.1em;
    gap: 0.4rem;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
    background: linear-gradient(
        15deg,
        #880088,
        #aa2068,
        #cc3f47,
        #de6f3d,
        #f09f33,
        #de6f3d,
        #cc3f47,
        #aa2068,
        #880088
      )
      no-repeat;
    background-size: 300%;
    background-position: left center;
    transition: background 0.3s ease;
    color: #fff;
  }
  
  .button:hover {
    background-size: 320%;
    background-position: right center;
  }
  
  .button:hover svg {
    fill: #fff;
  }
  
  .button svg {
    width: 23px;
    fill: #f09f33;
    transition: 0.3s ease;
  }

 /* From Uiverse.io by BadlyWrittenStylesheet */ 
.uiverse-bg {
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background-image: repeating-radial-gradient(  #f8f1f1ee 87%,#3fa7b4 90%);
    background-size: 50px 50px;
  }



  /* Stile per nome e cognome */
.doctor-name {
    font-size: 2em;  /* Più grande per risaltare il nome e il cognome */
    font-weight: bold;
    color: #2c3e50;  /* Colore scuro per dare un tocco professionale */
    padding: 0.5rem;
    border-radius: 10px;
    background-color: white;
}

/* Stile per gli altri dati del dottore */
.doctor-info {
    font-size: 1.2em; /* Leggermente più grande per renderli ben leggibili */
    color: #34495e;   /* Un colore diverso per i dettagli */
    margin-bottom: 10px;
    padding: 0.2rem;
    border-radius: 10px;
    background-color: white;
}

@media (max-width: 768px) {
    .d-flex {
      flex-direction: column !important; /* Cambia la direzione del flex in colonna */
    }
  
    .gap-2 {
      gap: 1rem; /* Aumenta il gap tra i due blocchi, se necessario */
    }
  }
  

  