@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-show {
    max-width: 800px;
    margin: 0 auto;
}

.card {
    border-radius: 10px;
    background-color: #ffffff;
}

.card-title {
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.list-group-item {
    font-size: 16px;
    border: none;
    padding: 15px 20px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
}

.review-text {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

.btn-primary {
    background-color: #4CAF50;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #45a049;
}

.card-basic {
    background-color: #f8f9fa;
    border-color: #222;
}

.card-premium {
    background-color: #6c757d;
    color: #fff;
}

.card-gold {
    background-color: #ffd700;
    color: #000;
}

/* Titolo della Sezione */
.section-title {
    background-color: #f7c600; 
    color: #333;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
    max-width: 15rem;
    text-align: center;
}

/* Sezione Recensioni */
.review-list {
    background-color: #d4edda; 
    border-radius: 5px;
    padding: 15px;
}

.review-item {
    background-color: #ffffff; 
    border: 1px solid #c3e6cb; 
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Sezione Messaggi */
.message-list {
    background-color: #d1ecf1; 
    border-radius: 5px;
    padding: 15px;
}

.message-item {
    background-color: #ffffff; 
    border: 1px solid #bee5eb; 
    border-radius: 5px;
    margin-bottom: 10px;
}


.btn-view-all {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    transition: background 0.3s ease, transform 0.2s ease;
    background: linear-gradient(90deg, rgba(0,255,191,1) 0%, rgba(0,212,255,1) 100%); 
}

.btn-view-all:hover {
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(0,255,191,1) 100%); 
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.btn-view-all:focus {
    outline: none;
}

.wrapper{
    background: linear-gradient(220deg, #4caf50, #b3e5fc);
    border-radius: 1rem;
    margin-top: 0;
    height: 100%;
    width: 100wv;
}

.bg-secondary {
    background-color: #b0b0b0 !important; 
}
.bg-warning {
    background-color: #ffd700 !important; 
}
.bg-info {
    background-color: #17a2b8 !important; 
}


.bg-marble {
    background: linear-gradient(45deg, #f9f9f9, #e0e0e0);
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ddd;
}

.text-red {
    color: #d32f2f; 
    font-weight: bold;
}

.list-group-item {
    font-size: 16px;
    border: none;
    padding: 15px 20px;
    background-color: #ffffff; 
    margin-bottom: 5px;
}

/* Pulsante Sponsorizza Profilo */
.btn-sponsor {
    background-color: #c8102e; 
    color: #f9f9f9; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block; 
}

.btn-sponsor:hover {
    background-color: #a30824; 
    color: yellowgreen;
}

.backg{
    background-image: url('https://img.freepik.com/vettori-gratuito/background-medico-dell-acquerello_52683-162142.jpg?t=st=1726149487~exp=1726153087~hmac=2609916cd8a4505f250af388d08ad0685cdf6c4d5f6ef8497ff0c6e08b581c26&w=1060'); /* URL dell'immagine */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
}





